@page "/recipe"
@page "/recipe/{Id:int}"

@rendermode InteractiveWebAssembly
@attribute [StreamRendering]
@inject IRecipeService RecipeService

<h3>Create Recipe</h3>

<EditForm Model="recipe" OnSubmit="HandleSubmit">

    <label>Name</label>
    <InputText @bind-Value="recipe.Name">@recipe.Name</InputText>

    <label>Ingredients</label>
    <ul>
        @foreach (var ingredient in recipe.Ingredients)
        {
            <li>
                @ingredient
            </li>
        }
        <li>
            <InputText @bind-Value="ingredient"></InputText>
            <AddIngredientButton Name=ingredient></AddIngredientButton>
        </li>
    </ul>

    <label>Instructions</label>
    <InputTextArea @bind-Value="recipe.Instructions">@recipe.Instructions</InputTextArea>

    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
    [Parameter]
    public int? Id { get; set; }
    
    private string ingredient = string.Empty;
    private Recipe recipe = new Recipe() { Name = string.Empty, Ingredients = new List<Ingredient>() };

    async Task HandleSubmit()
    {
        if (Id.HasValue)
        {
            await RecipeService.UpdateRecipeAsync(Id.Value, recipe);
        }
        else
        {
            await RecipeService.AddRecipeAsync(recipe);
        }
    }
}