@page "/recipes"
@attribute [StreamRendering]
@rendermode @(new InteractiveWebAssemblyRenderMode(false))
@inject IClient Client
@inject NavigationManager NavigationManager

<PageTitle>Recipes</PageTitle>

<h3>Recipes</h3>

<AddReceipyButton />

<br />
<br />

@if (recipes == null)
{
    <span>Loading...</span>
}
else if (recipes.Count == 0)
{
    <span>There are no added receipies yet.</span>
}
else
{
    <div class="recipe-card-list">
        @foreach (var recipe in recipes)
        {
            <div class="recipe-card" @onclick="() => GetRecipe(recipe.Id)">
                @recipe.Name
            </div>
        }   
    </div>
}


@code {
    List<Recipe>? recipes = null;

    protected override async Task OnInitializedAsync()
    {
        Client.SetEntityEndpoint("recipes");
        recipes = await Client.GetAsync<Recipe>();
    }
    private void GetRecipe(int id)
    {
        NavigationManager.NavigateTo($"/recipe/{id}");
    }
}