<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/2Eat.WebUI.Shared/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/2Eat.WebUI.Shared/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="_content/2Eat.WebUI.Shared/app.css" />
    <link rel="stylesheet" href="2Eat.WebUI.Web.styles.css" />
    <link rel="icon" type="image/png" href="_content/2Eat.WebUI.Shared/favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.13.0/Sortable.min.js"></script>
</body>

</html>
