@rendermode InteractiveWebAssembly

<button @onclick="AddIngredient" class="btn btn-primary">Add Ingredient</button>

@code {
    [Parameter]
    public string? Name { get; set; }

    void AddIngredient()
    {

    }
}
