@rendermode InteractiveWebAssembly
@inject NavigationManager NavigationManager

<button @onclick="AddReceipy" class="btn btn-primary">Add Receipy</button>

@code {
    void AddReceipy()
    {
        NavigationManager.NavigateTo("/receipy");
    }
}
