@rendermode InteractiveWebAssembly

<h5>Ingredients</h5>
<ul>
    @foreach (var ingredient in _ingredients)
    {
        <li>
            @ingredient.Name
        </li>
    }
    <li>
        <InputText @bind-Value="Name"></InputText>
        <button @onclick="AddIngredient" class="btn btn-primary">Add Ingredient</button>
    </li>
</ul>
<hr />

@code {
    private ICollection<Ingredient> _ingredients;
    private string Name = string.Empty;

    [Parameter]
    public ICollection<Ingredient> IngredientsList
    {
        get => _ingredients;
        set
        {
            if (_ingredients != value)
            {
                _ingredients = value;
                IngredientsListChanged.InvokeAsync(value);
            }
        }
    }

    [Parameter]
    public EventCallback<ICollection<Ingredient>> IngredientsListChanged { get; set; }

    // Ensure the component initializes _ingredients correctly
    protected override void OnInitialized()
    {
        _ingredients = IngredientsList ?? new List<Ingredient>();
    }

    private void AddIngredient()
    {
        if (!string.IsNullOrWhiteSpace(Name))
        {
            _ingredients.Add(new Ingredient() { Name = Name });
            Name = string.Empty;
            IngredientsListChanged.InvokeAsync(_ingredients); // Notify parent component
        }
    }
}
